/* 1. Aseguramos el controlador */
&gpio0 {
status = "okay";
};

/* 2. Definimos la ruta completa para que el compilador no se pierda */
/ {
my_sensors {
/* Aquí simplemente "abrimos" el nodo que ya existe o existirá */
temp_sensor:dht11_sensor {
/* Aquí inyectamos las propiedades específicas de esta placa */
compatible = "pedro,dht11";
dio-gpios = <&gpio0 4 0>;
status = "okay";
};
};
};
